tensorflow>=2.15
streamlit>=1.36
numpy>=1.26
pandas>=2.2
pillow>=10.2
matplotlib>=3.8
plotly>=5.22
scikit-learn>=1.4
kagglehub>=0.2.8
seaborn>=0.13
reportlab>=4.2
fastapi>=0.110.0
uvicorn>=0.28.0
python-multipart>=0.0.9
